#!/usr/bin/make -f
export DH_VERBOSE=1

ARCH=$(DEB_HOST_GNU_CPU)
CROSS_COMPILE=$(DEB_HOST_GNU_TYPE)-

DESTDIR=debian
dest=$(DESTDIR)/$(basename $@)/boot

find_bootscrs = $(wildcard u-boot-bootscr*txt)

.PHONY(bootscrs)
bootscrs: $(addsuffix .scr, $(basename $(find_bootscrs)))

%.scr : %.txt
	mkimage -A $(ARCH) -O linux -T script -C none -n "bootscript" -d $< $@
	mkdir -p $(dest)
	mv $@ $(dest)/boot.scr

%:
	dh $@

override_dh_auto_clean:
	rm *.scr

override_dh_auto_build: bootscrs
#override_dh_auto_install:

#override_dh_auto_configure:
#override_dh_auto_test:
#	true # pass
