#!/usr/bin/make -f
export DH_VERBOSE=1

ARCH=arm
DESTDIR=debian
dest=$(DESTDIR)/$(basename $@)/boot

txt=$(wildcard bootscr-*.txt)
scr=$(addsuffix .scr, $(basename $(txt)))
paths=$(foreach pkg, $(basename $(txt)), $(DESTDIR)/$(pkg)/boot) 
path_to_scr=$(addsuffix .scr, $(shell echo $@ | sed s!$(DESTDIR)/!! | sed s!/boot/boot.scr!!))

%.scr : %.txt
	mkimage -A $(ARCH) -O linux -T script -C none -n "bootscript" -d $< $@

$(foreach path, $(paths), $(path)/boot.scr) :
	mkdir -p $(dir $@)
	cp $(path_to_scr) $@

%:
	dh $@

override_dh_auto_clean:
	rm -f *.scr

override_dh_auto_build: $(scr)

override_dh_auto_install: $(foreach path, $(paths), $(path)/boot.scr)

#override_dh_auto_configure:
#override_dh_auto_test:
#	true # pass
